* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.box {
  display: flex;
  width: calc(25% - 20px);
  min-height: 50px;
  background-color: orangered;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width : 1024px) {
  .box {
    width: calc(50% - 20px);
    min-height: 70px;
  }
}

@media screen and (max-width : 768px) {
  .box {
    width: 100%;
    min-height: 70px;
  }
}
